@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(../font/NanumSquareRound/NanumSquareRoundB.eot);
    src: url(../font/NanumSquareRound/NanumSquareRoundB?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareRound/NanumSquareRoundB.woff2) format('woff2'),
        url(../font/NanumSquareRound/NanumSquareRoundB.woff) format('woff'),
        url(../font/NanumSquareRound/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(../font/NanumSquareRound/NanumSquareRoundEB.eot);
    src: url(../font/NanumSquareRound/NanumSquareRoundEB?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareRound/NanumSquareRoundEB.woff2) format('woff2'),
        url(../font/NanumSquareRound/NanumSquareRoundEB.woff) format('woff'),
        url(../font/NanumSquareRound/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(../font/NanumSquareRound/NanumSquareRoundL.eot);
    src: url(../font/NanumSquareRound/NanumSquareRoundL?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareRound/NanumSquareRoundL.woff2) format('woff2'),
        url(../font/NanumSquareRound/NanumSquareRoundL.woff) format('woff'),
        url(../font/NanumSquareRound/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(../font/NanumSquareRound/NanumSquareRoundR.eot);
    src: url(../font/NanumSquareRound/NanumSquareRoundR?#iefix) format('embedded-opentype'),
        url(../font/NanumSquareRound/NanumSquareRoundR.woff2) format('woff2'),
        url(../font/NanumSquareRound/NanumSquareRoundR.woff) format('woff'),
        url(../font/NanumSquareRound/NanumSquareRoundR.ttf) format('truetype');
}

