body
{
    font-family: Cambay, nanumsquareround, serif;
}
#header-panel div
{
    overflow: hidden;
    height: auto;
}

.span-red
{
    color: #d01f2d;
    margin: 10px;
    font-size: 1.3rem;
}

.span-normal
{
    margin: 10px;
    font-size: 1.3rem;
}

.sidebar
{
    padding-bottom: 10px;
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s
    ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li
{
    margin: 70% 0;
}
ul > li
{
    text-align: left;
}

#parentTab .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#parentTab .nav-tabs
{
    border: none;
}

#parentTab .nav-link
{
    color: #000000;
}

#parentTab
{
    border-bottom: 2px solid #d01f2d;
    margin: 10px 0px;
}

#all .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#support .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#sales_marketing_planning_design .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#rnd .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#production_logistics .nav-link.active
{
    background-color: transparent;
    border: none;
    color: #d01f2d;
}

#all .nav-tabs
{
    border: none;
}

#support .nav-tabs
{
    border: none;
}

#sales_marketing_planning_design .nav-tabs
{
    border: none;
}

#rnd .nav-tabs
{
    border: none;
}

#production_logistics .nav-tabs
{
    border: none;
}

#all .nav-link
{
    color: #000000;
}

#support .nav-link
{
    color: #000000;
}

#sales_marketing_planning_design .nav-link
{
    color: #000000;
}

#rnd .nav-link
{
    color: #000000;
}

#production_logistics .nav-link
{
    color: #000000;
}