@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(/static/font/NanumSquareRoundB.eot);
    src: url(/static/font/NanumSquareRoundB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundB.woff) format('woff'),
    url(/static/font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(/static/font/NanumSquareRoundEB.eot);
    src: url(/static/font/NanumSquareRoundEB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundEB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundEB.woff) format('woff'),
    url(/static/font/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(/static/font/NanumSquareRoundL.eot);
    src: url(/static/font/NanumSquareRoundL?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundL.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundL.woff) format('woff'),
    url(/static/font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(/static/font/NanumSquareRoundR.eot);
    src: url(/static/font/NanumSquareRoundR?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundR.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundR.woff) format('woff'),
    url(/static/font/NanumSquareRoundR.ttf) format('truetype');
}
ul>li{
    list-style: none;
}
ul{
    margin-block-start: 0px;
    padding-inline-start: 0px;
}
.content-view{
    width:1697px;;
    margin-left: 52px;
    position: relative;
}

.page-title{
    width: 212px;
    height: 114px;
    font-family: Cambay;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0d0d;
}
.link-btn{
    width: 178px;
    height: 37px;
    border-radius: 18px;
    color:#fff;
    font-family: Cambay;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 42px;
    letter-spacing: normal;    
    text-align: center;
    position: absolute;
    top: 20px;
    padding-left: 10px;
}
.what{
    background-color: #df3636;
    right:194px;
}
.hire{
    right:0px;
    background-color: #74d5d5;
}



.main-tab{
    
    width: 1697px;
    border-bottom: solid 1px #a5a5a5;
    padding-bottom:23px;
    margin: 0px auto;
    margin-top:30px;
}

.main-tab>.tab-item{
    font-family: NanumSquareRoundEB;
    font-size: 18.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-right: 33px;
    display: inline-block;
    cursor: pointer;
}
.tab-item.active{
    color: #df3636;
}
.tab_img{
    position: absolute;
    width: 264px;
    height: 180px;
    z-index: 9999;
    top: -49px;
    right: 50px;
}
.sub-tab{
    
    width: 1697px;;
    margin: 22px auto 30px;;
}
.sub-tab > .sub-tab-item{
    font-family: NanumSquareRoundEB;
    font-size: 18.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8f8f8f;
    display: inline-block;
    margin-right:35px;
    cursor: pointer;
}
.sub-tab-item.active{
    color: #df3636;
}
.table-rows{
    width: 1200px;
    margin: 0px auto;
}
.table-rows > li{
    margin-bottom:10px;
}
.table-rows > li::after{
    content: "";
    clear:both;
    display: table;
}
.table-rows > .notice{
    width: 1197.7px;
    height: 64.8px;
    background-color: #f0f0f0;
    border-left: 16px solid #df3636;
   
}
.notice > .cat{
    font-family: NanumSquareRoundEB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;;
    letter-spacing: normal;
    color: #5a5a5a;
    margin-left:13px;
   
}
.notice > .sub-cat{
    font-family: NanumSquareRoundEB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;
    letter-spacing: normal;
    color: #df3636;
    margin-left:17px;
   
}
.notice > .title{
    font-family: NanumSquareRoundEB;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;
    letter-spacing: normal;
    color: #000000;
    margin-left:20px;
  
}
.available{
    width: 1197.7px;
    height: 64.8px;
    border:  1px solid #c3c3c3;
    background-color: #fff;
}
.available:hover{
    height: 64.8px;
    border:  1px solid #df3636;
    background-color: #fff;
}
.available:hover .dot{
    background-color: #f2162a;
}
.available:hover .apply-btn{
    background-color: #f2162a;
}
.available > .cat{
    font-family: NanumSquareRoundEB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;;
    letter-spacing: normal;
    color: #5a5a5a;
    margin-left:9px;
}
.available > .sub-cat{
    font-family:  NanumSquareRoundEB ;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-left: 15px;
}
.available > .title{
    font-family: NanumSquareRoundR;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width: 1185px;
    display: inline-block;
}
.available > .duration{
    font-family: NanumSquareRoundB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #565656;
    width: 162px;
    margin-left: 43px;
}
.available > .now-count-btn{
    min-width: 45px;
    height: 32px;
    background-color: #565656;
    display: inline-block;
    border-radius: 20px;
    margin-left: 11px;
    font-family: NanumSquareRoundB;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}
.available .dot{
    width: 7px; 
    height: 7px;
    background-color: #000;
    border-radius: 10px;
    margin-left:13px;
    margin-top: calc( (64px - 7px)/2 );
    float: left;
}

.finish .dot{
    width: 7px; 
    height: 7px;
    background-color: #afafaf;
    border-radius: 10px;
    margin-left:13px;
    margin-top: calc( (64px - 7px)/2 );
    float: left;
}
.finish{
    width: 1197.7px;
    height: 64.8px;
    border:  1px solid #c3c3c3;
    background-color: #fff;
}
.finish > .cat{
    font-family: NanumSquareRoundEB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;;
    letter-spacing: normal;
    color: #5a5a5a;
    margin-left:9px;
}
.finish > .sub-cat{
    font-family:  NanumSquareRoundEB ;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #afafaf;
    margin-left: 15px;
}
.finish > .title{
    font-family: NanumSquareRoundR;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #afafaf;
    width: 1185px;
    display: inline-block;
}
.finish > .duration{
    font-family: NanumSquareRoundB;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #565656;
    width: 162px;
    margin-left: 43px;
}
.finish > .now-count-btn{
    min-width: 45px;
    height: 32px;
    background-color: #c9c9c9;
    display: inline-block;
    border-radius: 20px;
    margin-left: 11px;
    font-family: NanumSquareRoundB;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    cursor:pointer;
}