
@media screen and (min-width: 701px)  {
    body {
        min-width: 1400px;
    }
}


.col-pixel-width-240 {
    flex: 0 0 240px;
}

.col-pixel-width-277 {
    flex: 0 0 277px;
    max-width: 10px;
}

.col-pixel-width-33per {
    flex: 0 0 33%;
}

.leaders-logo-image {
    width: 100%;
    height: auto;
}

.leaders-header-nav {
    margin: 33px auto 0px;;
    width: 1400px;
    font-family: Cambay;
}

.center-menu {
    padding-left: 41px;
}

.main-top-background-image {
    width: 100%;
    height: 845px;
}

.slide-area {
    padding-top: 60px;
}

.innovative-area {
    width: 397px;
}

.main-slide-fill-div {
    padding-top: 205px;
    padding-right: 213px;
}

.main-slide-fill {
    margin-left: 68px;
    width: 89px;
    height: 9px;
    background-color: #f78988;
}

.main-slide-title-div {
    padding-top: 20px;
}

.main-slide-title {
    margin-left: 68px;
    width: 100%;
    height: 105px;
    font-family: Cambay;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -0.01px;
    color: #030303;
}

.main-slide-title-explain-div {
    padding-top: 9px;
}

.main-slide-title-explain {
    margin-left: 68px;
    width: 466px;
    height: 29px;
    font-family: NanumSquareRoundR;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.03px;
    color: #030303;
}

.carousel-control-prev {
    left: 8%;
}

.carousel-control-next {
    right: 8%;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 112, 107)' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 112, 107)' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: inset 1px 1px 1px 1px rgba(247, 137, 136, 0.5);
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 10px;
    background-color: rgb(247, 137, 136);
}


.whos-next-leaders-div {
    padding-top: 151px;
}

.whos-next-leaders {
    width: 495px;
    height: 81px;
    font-family: Cambay;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0d0d;
}

.main-bottom-buttons {
    padding-left: 32.5px;
    padding-right: 32.5px;
    padding-top: 19px;
    padding-bottom: 134px;
    width: 251px;
    height: 253px;
}

.main-bottom-buttons-images {
    width: 100%;
    height: auto;
}

.company-image:hover {
    content: url('../images/btn-company-hover.png')
}

.culture-image:hover {
    content: url('../images/btn-culture-hover.png')
}

.career-image:hover {
    content: url('../images/btn-career-hover.png')
}

.contact-us-image:hover {
    content: url('../images/btn-contact-us-hover.png')
}

.culture-top-div {
    margin-top: 38px;
}

.culture-top-image {
    width: 100%;
    max-height: 158px;
    height: auto;
}

.culture-center-title-div {
    width: 100%;
    height: 158px;
}

.culture-center-title {
    font-family: Cambay;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #f55e5e;
}

.culture-top-menu {
    height: 77px;
}

.culture-top-menu-division-stroke-div{
    /* padding-left: 51px; 
    padding-right:58px; */
    width: 115.2px;
}
.culture-top-menu-division-stroke {
    width: 1px;
    height: 40px;
    border: solid 0.5px #f2162a;
}

.culture-top-menu-oct-program {
    width: 115.2px;
    height: 39px;
    font-family: Cambay;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.culture-top-menu-oct-ml-30{
    margin-left: -30px;
}

.culture-top-menu-benefit {
    width: 115.2px;
    /* width: 72px; */
    height: 39px;
    font-family: Cambay;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}

.culture-top-menu-gradient {
    box-shadow: 0px 3px 3px rgb(235, 235, 235);
}

.culture-oct-prgram {
    padding-top: 96px;
}

.culture-oct-program-title {
    width: 792px;
    height: 81px;
    font-family: Cambay;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #111111;
}

.culture-oct-program-title .text-style-1 {
    letter-spacing: 0.22px;
}

.culture-oct-program-title .text-style-2 {
    letter-spacing: 0.2px;
}

.culture-oct-program-title .text-style-3 {
    font-weight: bold;
}

.culture-oct-program-fill{
    margin-top: 39px;
    width: 307px;
    height: 24px;
    background-color: rgba(255, 117, 103, 0.7);
}


.culture-oct-program-sub-title {
    margin-top: -20px;
    width: 646px;
    height: 64px;
    font-family: Cambay;
    font-size: 39px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #111111;
}


.culture-oct-program-row {
    margin-top: 83px;
}
.culture-oct-programs-div {
    /* margin-top: 76px; */
}

.oct-program-card-div {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    width: 384px;
}

.oct-program-card-image-div{
    width: 100%;
    height: 276px;
    object-fit: contain;
    text-align: center;
}

.oct-program-card-image {
    width: 100%;
    height: 100%;
}

.oct-program-card-title-div{
    margin-top: 48px;
    width: 100%;
    height: 46px;
    font-family: Cambay;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #252427;
    text-align: center;
}

.oct-program-card-sub-title-div{
    margin-top: 17px;
    width: 100%;
    height: 112px;
    white-space: pre-line;
    font-family: NanumSquareRoundB;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.7px;
    text-align: center;
    color: #5a5a5a;
    /* word-break: normal; */
}

.one-day-class-image {
    width: 181px; 
    height: 276px;
    margin-top: 0px;
}

.lunch-seminar-image {
    width: 182px; 
    height: 259px; 
    margin-top: 17px;
}

.leaders-suppoters-image {
    width: 191px; 
    height: 241px; 
    margin-top: 35px;
}


.m-m-system-image {
    width: 179px; 
    height: 249px;
    margin-top: 23px;
}

.leaders-fleamarket-image {
    width: 182px; 
    height: 236px;
    margin-top: 38px;
}

.leaders-olympiad-image {
    width: 201px; 
    height: 215px;
    margin-top: 57px;
}

.anseong-factory-tour-image{
    width: 181px; 
    height: 246px;
    margin-top: 28px;
}

.welcome-kit-image {
    width: 182px; 
    height: 151px;
    margin-top: 123px;
}

.lcm-image{
    width: 186px; 
    height: 205px;
    margin-top: 70px;
}


.culture-benefit-div{
    margin-top: 159px;
    height: 2693px;
    background-color: #f7f7f7;
}


.culture-benefit {
    padding-top: 110px;
}


.culture-benefit-title {
    width: 641px;
    height: 81px;
    font-family: Cambay;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #111111;
}

.culture-benefit-title .text-style-1 {
    letter-spacing: 0.05px;
}

.culture-benefit-title .text-style-2 {
    letter-spacing: 0.05px;
}

.culture-benefit-title .text-style-3 {
    font-weight: bold;
}

.culture-benefit-fill{
    margin-top: 39px;
    width: 167px;
    height: 24px;
    background-color: rgba(255, 117, 103, 0.7);
}

.culture-benefit-explain-area {
    margin-top: 105px;
    height: 2044px;
    width: 1228px;
}

.culture-benefit-images{
    width: 100%;
    height: auto;
}

.benefit-card-left-title-div{
    width: 100%;
    height: 34x;
    font-family: NanumSquareRoundB;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
}

.benefit-card-left-sub-title-div{
    padding-top: 0px;
    width: 100%;
    height: auto;
    white-space: pre-line;
    font-family: NanumSquareRoundB;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.6px;
    color: #5a5a5a;
}


.benefit-card-right-div {
    margin-top: 0px;
    
    width: 436px;
    text-align: right;
}


.benefit-card-right-title-div{
    
    width: 100%;
    height: 34x;
    font-family: NanumSquareRoundB;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
}

.benefit-card-right-sub-title-div{
    text-align: right;
    padding-top: 0px;
    width: 100%;
    height: auto;
    white-space: pre-line;
    font-family: NanumSquareRoundB;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.6px;
    color: #5a5a5a;

}



.benefit-flexible-work{
    margin-top: 120px;  
}

.benefit-selectable-welfare {
    margin-top: 82px;  
}

.benefit-self-development-costs {
    margin-top: 364px;  
}

.benefit-in-house-club {
    margin-top: 125px;
}

.benefit-birthday-gift{
    margin-top: 344px;
}

.benefit-excellent-employee-of-the-month {
    margin-top: 67px;
}

.benefit-shopping-mall {
    margin-top: 68px;
}
.
/* .oct-program-one-day-class-div {
    margin-top: 0px;
}
.oct-program-one-day-class-image-div{
    width: 181px;
    height: 276px;
    object-fit: contain;
}

.oct-program-one-day-class-title-div{
    margin-top: 48px;
    width: 180px;
    height: 46px;
    font-family: Cambay;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #252427;
}

.oct-program-one-day-class-sub-title-div{
    margin-top: 17px;
    width: 330px;
    height: 112px;
    font-family: NanumSquareRoundB;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.7px;
    text-align: center;
    color: #5a5a5a;
} */
/* 

.oct-program-launch-seminar-div {
    margin-top: 17px;
    margin-left: calc(13.1% / 2);
    margin-right: calc(13.6% / 2);
}
.oct-program-launch-seminar-image-div{
    width: 182px;
    height: 259px;
    object-fit: contain;
}

.oct-program-launch-seminar-title-div{
    margin-top: 48px;
    width: 183px;
    height: 46px;
    font-family: Cambay;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #252427;
}

.oct-program-launch-seminar-image {
    width: 100%;
    height: auto;
}

.oct-program-launch-seminar-sub-title-div{
    margin-top: 17px;
    width: 384px;
    height: 112px;
    font-family: NanumSquareRoundB;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.7px;
    text-align: center;
    color: #5a5a5a;
} */