@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(/static/font/NanumSquareRoundB.eot);
    src: url(/static/font/NanumSquareRoundB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundB.woff) format('woff'),
    url(/static/font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(/static/font/NanumSquareRoundEB.eot);
    src: url(/static/font/NanumSquareRoundEB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundEB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundEB.woff) format('woff'),
    url(/static/font/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(/static/font/NanumSquareRoundL.eot);
    src: url(/static/font/NanumSquareRoundL?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundL.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundL.woff) format('woff'),
    url(/static/font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(/static/font/NanumSquareRoundR.eot);
    src: url(/static/font/NanumSquareRoundR?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundR.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundR.woff) format('woff'),
    url(/static/font/NanumSquareRoundR.ttf) format('truetype');
}

.absolute-background{
    width: 100%;
    background-image:url('/static/img/readers-new-0811-23.png');
    background-position: 784px 0px;
    height:702px;
    background-repeat:no-repeat;
    position: absolute;
    top:0px;
    z-index: -1;
    min-width:1400px;
}
.content-view{
    width: 1400px;
    margin:0px auto;
    clear: both;
    overflow: visible;
    position: relative;
}
.jumbotron-containter{
    margin-left: calc(361px - 252px);
    margin-top: 245px;    
}
.main-pill{
    width: 89px;
    height: 9px;
    background-color: #f78988;
}
.jumbotron-title{
    width: 288px;
    height: 75px;
    font-family: Cambay;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top:6px;
}
.jumbotron-text{
    width: 450px;
    height: 128px;
    font-family: NanumSquareRoundR;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #030303;
}
.hire-sprit{
    width: 321px;
    text-align: center;
    float:left;
    margin-top:calc( 381px - 221px );
}
.hire-sprit > img{
    width: 321px;
    height: 231px;
}
.spirit-title{
    font-family: NanumSquareRoundEB;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #1a1a1a;
    margin-top:51px;
}
.spirit-title-en{
    font-family: Cambay;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #5a5a5a;
}
.spirit-text{
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #5a5a5a;
}
.bg-dim{
    width: 100%;
    height: 1920px;
    background-color: #f7f7f7;
}
.process-title{
    width: 581px;
    height: 192px;
    font-family: Cambay;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #1d1d1d;
    margin-left: 92px;
    padding-top:95px;
}
.process-text{
    margin-left: 105px;
    width: 621px;
    height: 109px;
    font-family: NanumSquareRoundB;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #5a5a5a;
}
.process-img{
    width: 1194px;
    height: 1254px;
    margin-left: 101px;
}
.process-segment{
    position: absolute;
}
.segment-title{
    font-family: NanumSquareRoundB;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232323;
}
.segment-text{
    font-family: NanumSquareRoundB;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #5a5a5a;
    margin-top: 13px;
}






