@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(/static/font/NanumSquareRoundB.eot);
    src: url(/static/font/NanumSquareRoundB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundB.woff) format('woff'),
    url(/static/font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(/static/font/NanumSquareRoundEB.eot);
    src: url(/static/font/NanumSquareRoundEB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundEB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundEB.woff) format('woff'),
    url(/static/font/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(/static/font/NanumSquareRoundL.eot);
    src: url(/static/font/NanumSquareRoundL?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundL.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundL.woff) format('woff'),
    url(/static/font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(/static/font/NanumSquareRoundR.eot);
    src: url(/static/font/NanumSquareRoundR?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundR.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundR.woff) format('woff'),
    url(/static/font/NanumSquareRoundR.ttf) format('truetype');
}





.content-view{
    width: 1400px;
    margin:0px auto;
    clear: both;
    overflow: visible;
    position: relative;
}
.register-con{
    width: 470px;
    margin: 50px auto;
}
.register-title{
    font-family: NanumSquareRoundEB;
    height: 39px;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.08px;
    color: #3d3d3d;
}
.register-title-en{
    font-family: Cambay;
    height: 57px;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 4px;
}
.register-help-text{
    width: 272px;
    height: 14px;
    font-family: NanumSquareRoundR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #3d3d3d;
}
.name-input{
    margin-top: 39px ;
}
.name-input,.birth-input,.email-input,.password-input{
    box-sizing: border-box;
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #c0c0c0;
    width: 100%;    
    height: 62px;
    border: solid 1.5px #bebebe;    
    padding: 22px 12px;    
    margin-bottom: 14px;
    outline: none;
}
input:focus{
    border: solid 1px #d01f2d!important;
}
input::-webkit-input-placeholder {
    color: #c0c0c0!important;
}
input:-ms-input-placeholder {
    color: #c0c0c0!important;
}
input::placeholder {
    color: #c0c0c0!important;
}
.sub-con{
   
    height: 14px;
    font-family: NanumSquareRoundR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #3d3d3d;
    margin-top: 13px;
}
.password-clear-link{
    width: 85px;
    height: 14px;
    font-family: NanumSquareRoundB;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.24px;
    color: #3d3d3d;
    border-bottom: solid 2px #bebebe;
}

.submit{
    width: 682px;
    height: 62px;
    line-height: 62px;
    background-color: #d01f2d;
    font-family: NanumSquareRoundEB;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-top: 58px;
    letter-spacing: -0.3px;
    color: #ffffff;
    text-align: center;
}

.signup-con{
    width: 685px;
    margin: 78px auto;
    margin-bottom: 300px;

}

.name-input.signup{
    box-sizing: border-box;
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #c0c0c0;
    width: 335px;    
    height: 50px;
    border: solid 1px #bebebe;    
    padding: 16px 20px;    
    margin-bottom: 10px;
    outline: none;
}
.birth-input.signup{
    box-sizing: border-box;
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #c0c0c0;
    width: 335px;    
    height: 50px;
    border: solid 1px #bebebe;    
    padding: 16px 20px;    
    margin-bottom: 10px;
    outline: none;
    margin-left: 10px;
}
.email-input.signup{
    box-sizing: border-box;
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #c0c0c0;
    width: 685px;    
    height: 50px;
    border: solid 1px #bebebe;    
    padding: 16px 20px;    
    margin-bottom: 10px;
    outline: none;
}

.help-text{    
    height: 34px;
    font-family: NanumSquareRoundR;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.33px;
    color: #5d5d5d;
    margin-left: 20px;
}
.password-input.signup{
    box-sizing: border-box;
    font-family: NanumSquareRoundR;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #c0c0c0;
    width: 335px;    
    height: 50px;
    border: solid 1px #bebebe;    
    padding: 16px 20px;    
    margin-bottom: 10px;
    outline: none;
}


/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: NanumSquareRoundB;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #3d3d3d;
  padding-top:4px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.intro-text{
    width: 682px;
    height: 123px;
    border: solid 1px #bebebe;
    overflow-y: scroll;
    padding: 12px 30px;
    font-family: NanumSquareRoundR ;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    
}
.intro-title{
    font-family:  NanumSquareRoundB; 
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: -0.32px;
    color: #1d1d1d;
}