

html,
body {
    font-family: 'Cambay', 'NanumSquareRoundR';
    width: 100%;
    height: 1407px;
}

.fit {
    padding: 0;
    height: 100%;
}

.main-menu {
    width: 100%;
    height: 44px;
    margin-left: 0px;
    margin-top: 33px;
    position: absolute;
}

.main-menu a:link {
    text-decoration: none;
    cursor: pointer;
    color: #545454;
}

.main-menu a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #545454;
}

.main-menu a:active {
    text-decoration: none;
    cursor: pointer;
    color: #545454;
}

.main-menu a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #545454;
}

.logo {
    width: 240px;
    height: 44px;
    margin-left: 40px;
    margin-top: 0px;
    position: relative;
    float: left;
    z-index: 2;
}

.logo-image {
    width: 100%;
    height: auto;
}

.company {
    position: absolute;
    margin-left: 690px;
    margin-top: 8.4px;
    width: 75px;
    height: 30px;
    font-size: 18px;
    color: #545454;
    cursor: pointer;
    z-index: 2;
}

.culture {
    position: absolute;
    margin-left: 867px;
    margin-top: 8.4px;
    width: 59px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
}

.career {
    position: absolute;
    margin-left: 1028px;
    margin-top: 8.4px;
    width: 52px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
}

.contact-us {
    position: absolute;
    margin-left: 1182px;
    margin-top: 8.4px;
    width: 87px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
}

.main {
    height: 845px;
    position: relative;
}

.rolling-background {
    height: 845px;
    width: 100%;
    position: absolute;
}

.rolling-background-image {
    height: 100%;
}

.stroke-left {
    margin-top: 419px;
    margin-left: 305px;
    /*             width: 10px; */
    /*             height: 20px; */
    /*             border: solid 2px #ff6f6a; */
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.stroke-right {
    margin-top: 419px;
    margin-left: 1610px;
    /*             width: 10px; */
    /*             height: 20px; */
    /*             border: solid 2px #ff6f6a; */
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.rectangle {
    margin-top: 342px;
    margin-left: 364px;
    width: 89px;
    height: 9px;
    position: absolute;
    background-color: #f78988;
}

/* rolling 1 start */
.text-title-inspire {
    margin-top: 371px;
    margin-left: 360px;
    width: 397px;
    height: 105px;
    position: absolute;
    font-size: 50px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.01px;
    font-weight: bold;
    color: #030303;
}

.text-content-inspire {
    margin-top: 485px;
    margin-left: 360px;

    position: absolute;
    width: 386px;
    height: 29px;
    font-family: 'NanumSquareRoundR';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.03px;
    color: #030303;
}

.inspire {
    margin-top: 59.5px;
    margin-left: 706px;

    position: absolute;
    width: 1031px;
    height: 709px;
}

.inspire-image {
    width: 100%;
    height: 100%;
}

/* rolling 1 end */

/* rolling 2 start */
.text-title-innovative {
    margin-top: 371px;
    margin-left: 361px;
    width: 397px;
    height: 105px;
    position: absolute;
    font-size: 50px;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.01px;
    font-weight: bold;
    color: #030303;
}

.text-content-innovative {
    margin-top: 485px;
    margin-left: 361px;

    position: absolute;
    width: 466px;
    height: 29px;
    font-family: 'NanumSquareRoundR';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.03px;
    color: #030303;
}

.innovative {
    margin-top: 137px;
    margin-left: 667px;

    position: absolute;
    width: 967px;
    height: 633px;
}

.innovative-image {
    width: 100%;
    height: 100%;
}

/* rolling 2 end */

/* rolling 3 start */
.text-title-science {
    margin-top: 371px;
    margin-left: 361px;
    width: 397px;
    height: 105px;
    position: absolute;
    font-size: 50px;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.01px;
    font-weight: bold;
    color: #030303;
}

.text-content-science {
    margin-top: 485px;
    margin-left: 361px;

    position: absolute;
    width: 386px;
    height: 29px;
    font-family: 'NanumSquareRoundR';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.03px;
    color: #030303;
}

.science {
    margin-top: 0px;
    margin-left: 760px;

    position: absolute;
    width: 1016px;
    height: 787px;
}

.science-image {
    width: 100%;
    height: 100%;
}

/* rolling 3 end */

.rolling-1 {
    display: block;
    position: absolute;
}

.rolling-2 {
    display: none;
}

.rolling-3 {
    display: none;
}

.main-text {
    height: 1407;
    width: 100%;
    position: absolute;

}

.whos-next-leaders {

    position: relative;
    margin-top: 920px;
    margin-left: 707px;
    width: 495px;
    height: 81px;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0d0d;
}

.company-btn {
    position: absolute;
    margin-top: 1020px;
    margin-left: 360px;
    width: 251px;
    height: 253px;
}

.company-btn-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.culture-btn {
    position: absolute;
    margin-top: 1020px;
    margin-left: 677px;
    width: 251px;
    height: 253px;
}

.culture-btn-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.career-btn {
    position: absolute;
    margin-top: 1020px;
    margin-left: 993px;
    width: 251px;
    height: 253px;
}

.career-btn-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-us-btn {
    position: absolute;
    margin-top: 1020px;
    margin-left: 1310px;
    width: 250px;
    height: 253px;
}

.contact-us-btn-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile {
    padding: 0;
}

.mobile-top {
    display: flex;
    margin: 0px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mobile-logo {
    width: 136px;
    height: 25px;
    margin-left: 14px;
    margin-top: 13px;
    margin-bottom: 12px;
}

.mobile-bar {
    margin-top: 19px;
    width: 17px;
    height: 12px;
}

.mobile-menu {
    display: flex;
    background-color: #252525;
    flex-wrap: wrap;
    height: 43px;
    width: auto;
}

.mobile-company {
    width: 75px;
    height: 30px;
    font-family: Cambay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #FFFFFF;
}

.mobile-culture {
    width: 59px;
    height: 30px;
    font-family: Cambay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.mobile-career {
    width: 52px;
    height: 30px;
    font-family: Cambay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.mobile-contact-us {
    width: 87px;
    height: 30px;
    font-family: Cambay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    white-space: nowrap;
}

.mobile-content {
    position: relative;
    display: flex;
}

.mobile-rolling-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.mobile-rolling-image-1 {
    position: relative;
    width: 100%;
    height: auto;
}

.mobile-rolling-2 {
    display: none;
    flex-wrap: wrap;
    padding: 0;
}

.mobile-rolling-image-2 {
    position: relative;
    width: 100%;
    height: auto;
}

.mobile-rolling-3 {
    display: none;
    flex-wrap: wrap;
    padding: 0;
}

.mobile-rolling-image-3 {
    position: relative;
    width: 100%;
    height: auto;
}

.Rectangle-Copy-5 {
    width: 36px;
    height: 4px;
    background-color: #f78988;
    margin-top: 47px;
    margin-left: 30px;
    position: absolute;
}

.Whos-next-LEADER {
    width: 330px;
    height: 57px;
    font-family: Cambay;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.64px;
    color: #0d0d0d;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 24px;
}

.Inspire-beauty-around {
    margin-left: 28px;
    width: calc(100% - 28px);
    height: auto;
    font-family: Cambay;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: -0.31px;
    color: #030303;
    position: absolute;
    margin-top: 64px;

}

.Inspire-text {
    height: auto;
    font-family: NanumSquareRoundR;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 0.02px;
    color: #030303;
    position: absolute;
}

.Innovative-beauty-cr-Copy {
    margin-left: 28px;
    width: calc(100% - 28px);
    height: auto;
    font-family: Cambay;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: -0.31px;
    color: #030303;
    position: absolute;
    margin-top: 64px;
}

.Innovative-text {
    height: auto;
    font-family: NanumSquareRoundR;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 0.02px;
    color: #030303;
    position: absolute;
}

.The-leaders-in-skin {
    margin-left: 28px;
    width: calc(100% - 28px);
    height: auto;
    font-family: Cambay;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: -0.31px;
    color: #030303;
    position: absolute;
    margin-top: 64px;
}

.leaders-text {
    height: auto;
    font-family: NanumSquareRoundR;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 0.02px;
    color: #030303;
    position: absolute;
}

.mobile {
    display: none;
}

@media screen and (max-width: 700px) {

    html,
    body {
        font-family: 'Cambay', 'NanumSquareRoundR';
        width: 100%;
        height: 1025px;
    }

    .fit {
        display: none;
    }

    .mobile {
        display: block;
    }
}

.btn-block:hover,.btn-block:focus,.btn-block:active,
.btn-block:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}