@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(/static/font/NanumSquareRoundB.eot);
    src: url(/static/font/NanumSquareRoundB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundB.woff) format('woff'),
    url(/static/font/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(/static/font/NanumSquareRoundEB.eot);
    src: url(/static/font/NanumSquareRoundEB?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundEB.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundEB.woff) format('woff'),
    url(/static/font/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url(/static/font/NanumSquareRoundL.eot);
    src: url(/static/font/NanumSquareRoundL?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundL.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundL.woff) format('woff'),
    url(/static/font/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(/static/font/NanumSquareRoundR.eot);
    src: url(/static/font/NanumSquareRoundR?#iefix) format('embedded-opentype'),
    url(/static/font/NanumSquareRoundR.woff2) format('woff2'),
    url(/static/font/NanumSquareRoundR.woff) format('woff'),
    url(/static/font/NanumSquareRoundR.ttf) format('truetype');
}

.absolute-background{
    width: 100%;
    background-image:url('/static/img/bg.png');
    background-position: 784px 0px;
    height:702px;
    background-repeat:no-repeat;
    position: absolute;
    top:0px;
    z-index: -1;
    min-width:1400px;
}
.content-view{
    width: 1400px;
    margin:0px auto;
    clear: both;
    overflow: visible;
    position: relative;
}

.qna-seg{
    width: 1216px;
    margin: 0px auto;
    margin-top:96px;
}
.team{
    font-family: NanumSquareRoundEB;
    font-size: 39.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #222222;
}
.q-row{
    margin-top:30px;
    font-family: NanumSquareRoundEB;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #282828;
}
.a-row{
    margin-top:12px;
    height: 100px;
    font-family: NanumSquareRoundR;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 0.72px;
    color: #5a5a5a;
    overflow: hidden;
}

.transient-mask{
    width: 1216px;
    height: 45px;
    margin-top:-70px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    position: relative;
}
.read-more{
    margin-top:12px;
    font-family: Cambay;
    font-size: 18.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f56162;
    cursor: pointer;
}

.department{
    margin-right:57px;
}